<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Orientación Escolar - Amparo{% endblock %}</title>
    <link
      href="{% static 'home/css/bootstrap.min.css' %}"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'home/css/all.min.css' %}" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }

      a {
        text-decoration: none;
      }

      .btn-primary {
        border-radius: 5px;
        border: 0;
        background-color: #8a2be2;
      }

      .btn-primary:hover {
        background-color: #7223bb;
      }

    </style>
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <nav class="navbar container navbar-expand-lg navbar-light px-5" style="position: relative;">
      <a class="navbar-brand" href="/">
        <img src="{% static 'logo.png' %}" height="40" alt="Logo" />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-md-center"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <!-- <a class="nav-link mx-2 underline"  href="#">Agenda</a> -->

          <a class="nav-link mx-2 {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}"
            >Registro de Atención</a
          >
          <a class="nav-link mx-2 {% if request.path == '/piar' %}active{% endif %}" href="">PIAR</a>
          <!-- Más links aquí -->
        </div>
      </div>

      <div class="navbar-nav" style="position: absolute; right: 0;">
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle text-decoration-none text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-gears" aria-hidden="true"></i> Opciones
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'actualizar' %}"><i class="fa fa-upload" aria-hidden="true"></i> Actualizar Base de Datos</a></li>
            <li><a class="dropdown-item" href="{% url 'formEditor' %}"><i class="fa fa-file-pen" aria-hidden="true"></i> Editar Formulario</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">{% block content %} {% endblock %}</div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script
      src="{% static 'home/js/bootstrap.bundle.min.js' %}"
      crossorigin="anonymous"
    ></script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
