{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<style>
    .card:hover {
        cursor: pointer;
    }
</style>
{% endblock extrahead %}

{% block content %}
<div class="row align-items-center">
    <!-- Dropdown a la izquierda -->
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{mode}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'home' %}">Filtrar</a></li>
                <li><a id="orientacion-link" class="dropdown-item"
                        href="{% url 'filter' filter='orientacion' %}">Orientación</a></li>
                <li><a id="prevencion-link" class="dropdown-item"
                        href="{% url 'filter' filter='prevencion' %}">Prevención</a></li>
                <li><a id="intervencion-link" class="dropdown-item" href="{% url 'filter' filter="intervencion"%}">Intervención</a></li>
            </ul>
        </div>
    </div>

    <!-- Botón de registro centrado en relación al contenedor total -->
    <div class="col-4 d-flex justify-content-center">

        <a href="{% url 'form' %}" class="text-white">
            <button class="btn btn-primary">Registro de Atención</button>
        </a>
    </div>
</div>

<div class="row mt-5">
    {% for estudiante, slug in registros %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 registro">
        <a href="{% url 'detail' slug %}" class="text-decoration-none">
            <div class="card rounded">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ estudiante }}</h4>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<script src="{% static 'home/index.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

    })
</script>
{% endblock content %}