{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col col-sm-7">
      <h1>Eventos</h1>
      {% if error %}
            <h2>{{ error }}</h2>

        {% else %}

            {% for evento in eventos %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ evento.1 }}</h5>
                        <p class="card-text">{{ evento.0 }}</p>
                    </div>
                </div>
            {% endfor %}
            
        {% endif %}
    </div>
    <div class="col">
      
    </div>
  </div>
{% endblock content %}