{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'form/styles.css' %}">
{% endblock extrahead %}

{% block content %}

{% if success %}
<div class="alert alert-success" role="alert">
  <i class="fa fa-check-circle" aria-hidden="true"></i> {{ success }}
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger" role="alert">
  <i class="fa fa-times-circle" aria-hidden="true"></i> {{ error }}
</div>
{% endif %}

{% if edit %}

  <form action='{% url envio registro.id  %}' method="post" enctype="multipart/form-data" id="form">

{% else %}

  <form action='{% url envio %}' method="post" enctype="multipart/form-data" id="form">
    
{% endif %}
  {% csrf_token %}

  <div class="mb-3">
    <label for="fecha" class="form-label">Fecha de atención</label>
    <input autocomplete="off" type="datetime-local" class="form-control-sm" id="fecha" name="fecha"
      value="{% now 'Y-m-d H:i' %}">
  </div>

  {% include 'autocomplete.html' with field_label='Municipio' field_id='municipio' %}
  {{ municipios|json_script:"municipios_data" }}

  <div class="row mb-3">
    <div class="col-sm">
      <label for="institucion" class="form-label">Nombre del Establecimiento Educativo</label>
      <input type="text" class="form-control" id="institucion" name="institucion"
        value='Escuela Normal Superior "Claudina Múnera"'>
    </div>
    <div class="col-sm">
      <label for="dane" class="form-label">Código DANE</label>
      <input type="text" class="form-control" id="dane" name="dane" value="117013001167">
    </div>
  </div>


  <div class="mb-3 autocomplete-wrapper">
    <label for="sede" class="form-label">Sede</label><br>
    <input type="text" id="sede" name="sede" class="form-control autocomplete-input" autocomplete="off">
    <ul class="list-group autocomplete-results"></ul>
  </div>

  {% include 'autocomplete.html' with field_label='Remitido Por' field_id='remitidoPor' %}

  {% include 'autocomplete.html' with field_label='Posibles motivos de atención' field_id='posiblesMotivosDeAtencion' %}

  {% include 'autocomplete.html' with field_label='Línea de atención' field_id='lineaDeAtencion' %}

  {% include 'autocomplete.html' with field_label='Tipo de atención' field_id='tipoDeAtencion' %}

  {% include 'autocomplete.html' with field_label='Entidad Prestadora de Salud' field_id='entidadPrestadoraDeSalud' %}


  <h2 class="mt-5 mb-3 font-weight-bold">Datos Personales</h2>

  <div class="mb-3 autocomplete-wrapper">
    <label for="nombreEstudiante" class="form-label">Nombre Completo del Estudiante</label>
    <input autocomplete="off" type="text" class="form-control autocomplete-input" id="nombreEstudiante"
      name="nombreEstudiante" placeholder="Ingrese el nombre del alumno para autocompletar">
    <ul class="list-group autocomplete-results"></ul>
    {{ alumnos|json_script:"alumnos" }}
  </div>

  <div class="row mb-3">
    <div class="col">
      {% include 'normal.html' with field_label='Tipo de Documento' field_id='tipoDocumentoEstudiante' %}
    </div>
    <div class="col">
      {% include 'normal.html' with field_label='Número de Documento' field_id='numeroDocumentoEstudiante' %}
    </div>
  </div>

  {% include 'normal.html' with field_label='EPS' field_id='epsEstudiante' %}


  <div class="mb-3 input-group">
    <span class="input-group-text">Fecha y lugar de nacimiento</span>
    <input type="text" aria-label="Fecha" id="fechaNacimientoEstudiante" class="form-control">
    <input type="text" aria-label="Lugar" id="lugarNacimientoEstudiante" class="form-control">
  </div>

  {% include 'normal.html' with field_label='Acudiente' field_id='acudiente' %}

  {% include 'normal.html' with field_label='Teléfono del Acudiente' field_id='telefonoAcudiente' %}

  {% include 'normal.html' with field_label='Número de Documento del Acudiente' field_id='documentoAcudiente' %}

  {% include 'normal.html' with field_label='Dirección' field_id='direccion' %}

  {% include 'autocomplete.html' with field_label='Grado de Escolaridad' field_id='gradoEscolaridad' %}

  {% include 'normal.html' with field_label='Parentesco del Acudiente' field_id='parentescoAcudiente' %}



  <h2 class="mt-5 mb-3 font-weight-bold">Composición Familiar</h2>

  <div class="row mb-3">
    <div class="col">
      {% include 'autocomplete.html' with field_label='Sexo' field_id='sexo' %}
    </div>
    <div class="col">
      {% include 'autocomplete.html' with field_label='Género' field_id='genero' %}
    </div>
  </div>
  {% include 'autocomplete.html' with field_label='Parentesco' field_id='parentesco' %}
  {% include 'normal.html' with field_label='Nombre' field_id='nombre' %}
  {% include 'normal.html' with field_label='Edad' field_id='edad' %}
  {% include 'autocomplete.html' with field_label='Ocupación' field_id='ocupacion' %}
  {% include 'autocomplete.html' with field_label='Nivel Educativo' field_id='nivelEducativo' %}
  <div class="row mb-3">
    <div class="col">
      {% include 'autocomplete.html' with field_label='Estado Civil' field_id='estadoCivil' %}
    </div>
    <div class="col">
      {% include 'normal.html' with field_label='Número de Hijos' field_id='numeroDeHijos' %}

    </div>
  </div>
  {% include 'normal.html' with field_label='Teléfono' field_id='telefono' %}
  {% include 'normal.html' with field_label='Lugar de Residencia' field_id='lugarResidencia' %}
  {% include 'autocomplete.html' with field_label='Tipo de Familia' field_id='tipoFamilia' %}

  <h2 class="mt-5 mb-3 font-weight-bold">Acuerdos de Atención</h2>

  <div class="mb-3">
    <label for="espectativasEntrevistado" class="form-label">Espectativas del Entrevistado</label>
    <textarea class="form-control" id="espectativasEntrevistado" name="espectativasEntrevistado" rows="3"></textarea>
  </div>

  <div class="mb-3">
    <label for="acuerdosPrevios" class="form-label">Acuerdos Previos</label>
    <input class="form-control" type="file" id="acuerdosPrevios" name="acuerdosPrevios" multiple>
  </div>
  <div id="preview" class="mb-2"></div>

  <h2 class="mt-5 mb-3 font-weight-bold">Descripción de Situaciones de Riesgo a Nivel Individual</h2>

  {% include 'autocomplete.html' with field_label='Condición de Discapacidad' field_id='condicionDiscapacidad' %}
  {% include 'autocomplete.html' with field_label='Tipo de Discapacidad' field_id='tipoDiscapacidad' %}
  {% include 'autocomplete.html' with field_label='Talento y/o Capacidades Exepcionales' field_id='talentoYCapacidadesExepcionales' %}

  <div class="mb-3">
    <label for="relatoEntrevistado" class="form-label">Relato del Entrevistado</label>
    <textarea class="form-control" id="relatoEntrevistado" name="relatoEntrevistado"
      rows="3">DESCRIPCIÓN DE SITUACIONES DE RIESGO A NIVEL INDIVIDUAL (Antecedentes Relevantes Personales Y/O Familiares Médicos, Quirúrgicos, Psicológicos, Redes de Apoyo, Factores Protectores)</textarea>
  </div>
  <h2 class="mt-5 mb-3 font-weight-bold">Apreciación de la Docente Orientadora</h2>

  <div class="mb-3">
    <label for="observaciones" class="form-label">Observaciones</label>
    <textarea class="form-control" id="observaciones" name="observaciones" rows="15">Nota: La información consignada no constituye en ningún caso un diagnóstico o concepto medico y/o profesional sobre la salud mental o física de la persona a quien se refiere, ni tampoco sustituye el informe que deben adelantar las autoridades competentes sobre la presunta comisión de algún delito. Este informe es una ficha de seguimiento de la profesional de orientación escolar para darle adecuada atención y acompañamiento en el proceso de formación dentro del sistema de convivencia escolar.

POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES: Dado que la información contenida en el siguiente texto contiene datos sensibles y privados sobre terceros; se solicita mantener absoluta confidencialidad sobre la identidad y circunstancias descriptas; quedando bajo la responsabilidad de quienes reciben este informe la violación del derecho a la intimidad y el respeto a la privacidad. Es preciso abstenerse de exponer en reuniones y comités con carácter informativos o instancias de toma de decisiones estratégicas la identidad, ubicación y demás datos que posibiliten la identificación de las personas de las que trata este este reporte. 
</textarea>
  </div>

  {% include 'autocomplete.html' with field_label='Activación de Ruta' field_id='activacionRuta' %}

  <div class="mb-3">
    <label for="procesosConvivencia" class="form-label">Procesos de Convivencia</label>
    <textarea class="form-control" id="procesosConvivencia" name="procesosConvivencia" rows="20">Institución Educativa Escuela Normal Superior “Claudina Múnera”
Autorización de Funcionamiento de Programa de Formación Complementaria de Educadores
Resolución No. 7780 del 6 de Septiembre de 2010 del Ministerio de Educación Nacional
Licencia de Funcionamiento y Reconocimiento Oficial
Resolución No. 6478 del 2 de Noviembre de 2010 y Resolución No. 8299-6 del 8 de Septiembre de 2015 Secretaría de Educación Departamental
DANE: 117013001167 - NIT: 810000561-9</textarea>
  </div>

  <div class="mb-3">
    <label for="remision" class="form-label">Remisión</label>
    <input type="file" class="form-control" id="remision" name="remision" multiple></input>
  </div>

  <div class="mb-3">
    <label for="piar" class="form-label">Piar</label>
    <input type="file" class="form-control" id="piar" name="piar" multiple></input>
  </div>

  {% include 'autocomplete.html' with field_label='Estado del Caso' field_id='estadoCaso' %}

  <div class="mb-3">
    <label for="compromisoPadres" class="form-label">Compromiso de Padres</label>
    <input type="file" class="form-control" id="compromisoPadres" name="compromisoPadres" multiple></input>
  </div>

  <div class="mb-3">
    <label for="compromisoEstudiantes" class="form-label">Compromiso de Estudiantes</label>
    <input type="file" class="form-control" id="compromisoEstudiantes" name="compromisoEstudiantes" multiple></input>
  </div>

  <div class="mb-3">
    <label for="fechaProximoSeguimiento" class="form-label">Fecha próximo seguimiento</label>
    <input type="datetime-local" class="form-control" id="fechaProximoSeguimiento"
      name="fechaProximoSeguimiento"></input>
  </div>

  <div class="mb-3">
    <label for="nombreOrientadora" class="form-label">Nombre de quien realiza la atención</label>
    <input type="text" class="form-control" id="nombreOrientadora" name="nombreOrientadora"
      value="Amparo Garcés Vidal"></input>
  </div>




  <div class="">
    <button type="submit" class="btn btn-lg btn-primary w-100 mb-5 mt-3">Registrar</button>
  </div>

</form>




<script src="{% static 'form/script.js' %}"></script>

{% if vista_detallada %}
{{ registro.form_data|json_script:"form_data" }}
<script>
  function llenarFormularioConJson(jsonData, formularioId) {
    // Obtener el formulario por su ID
    var formulario = document.getElementById(formularioId);

    // Verificar si el formulario y los datos están presentes
    if (formulario && jsonData) {
      // Iterar sobre las claves del JSON
      for (var clave in jsonData) {
        if (jsonData.hasOwnProperty(clave)) {
          // Excluir el campo csrf_token
          if (clave === 'csrfmiddlewaretoken') {
            continue;
          }

          // Obtener el elemento de formulario por su nombre
          var elemento = formulario.elements[clave];

          // Verificar si el elemento existe en el formulario
          if (elemento) {
            // Establecer el valor del elemento con el valor correspondiente del JSON
            elemento.value = jsonData[clave];
          }
        }
      }
    } else {
      console.error("Formulario o datos no encontrados.");
    }
  }

  var jsonData = document.getElementById("form_data").textContent;
  jsonData = JSON.parse(jsonData);

  const formularioId = "form";

  llenarFormularioConJson(jsonData, formularioId);

</script>
{% endif %}

{% endblock %}