{% extends 'base.html' %}

{% block content %}
<style>
    .activate-modal {
        margin-top: 1rem;
        text-align: end;
        font-size: 20px;
    }

    .fa-info {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col">
        <h1 style="display: inline-flex;">{{ alumno|title }}</h1>
    </div>
    <div class="col">
        <div class="activate-modal">
            <i class="fa fa-info" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-hidden="true"></i>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tips</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Usando el botón <strong>"Nuevo Registro de Atención"</strong> puedes crear un nuevo registro
                        para {{ alumno|title }} <strong>usando como plantilla el último registro</strong>.</li><br>
                    <li>Para crear un nuevo registro usando como plantilla <strong>un registro diferente al
                            último</strong> puedes hacer click en el ícono <i class="fa fa-clone"
                            style="color: #8a2be2;" aria-hidden="true"></i>.</li><br>
                    <li>Para <strong>editar</strong> un registro existente, puedes hacer click en el ícono <i class="fa fa-pencil" style="color: #8a2be2;" aria-hidden="true"></i> del registro que deseas modificar. </li><br>
                    <li>Para <strong>acceder a los archivos</strong> de un registro existente, puedes hacer click en el ícono <i class="fa fa-file-text" style="color: #8a2be2;" aria-hidden="true"></i> del registro.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 mb-5 w-100 d-flex justify-content-center">
    <a class="btn btn-primary btn-lg" href="{% url 'create' slug %}">Nuevo Registro de Atención</a>
</div>

<div class="row mt-5">
    {% for registro in registros %}

    <div class="col mb-4 col-md-6">
        <div class="card rounded">
            <div class="card-title mx-3 mt-3">
                <h5 class="card-title">{{ registro.consecutivo }} - {{ registro.fecha }}
                    <span class="float-end">
                        <span class="mx-3">
                            <a href="{% url 'edit' registro.id %}">
                                <i class="fa fa-pencil" style="color: #8a2be2;" aria-hidden="true"></i>
                            </a>
                        </span>
                        <a href="{% url 'registro' registro.id %}">
                            <i class="fa fa-clone" style="color: #8a2be2;" aria-hidden="true"></i>
                        </a>
                        <a class="mx-3" href="{% url 'archivos' registro.id %}">
                            <i class="fa fa-file-text" style="color: #8a2be2;" aria-hidden="true"></i>
                        </a>
                    </span>
                </h5>
            </div>
            <div class="card-body">
                <p class="card-text">Observaciones: {{ registro.resumen }}</p>
                <p class="card-text">Relato del Entrevistado: {{ registro.resumenRelato }}</p>
            </div>
        </div>
        </a>
    </div>

    {% endfor %}
</div>

{% endblock %}